@font-face {
  font-family: Proxima;
  font-weight: normal;
  src: url("../fonts/ProximaNovaRegular.eot") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Reg.otf") format("opentype");
  src: url("../fonts/ProximaNovaRegular.ttf") format("trutype"); }
@font-face {
  font-family: Proxima;
  font-weight: bold;
  src: url("../fonts/ProximaNovaBold.eot") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  src: url("../fonts/ProximaNovaBold.ttf") format("truetype"); }
@keyframes color-change {
  0% {
    fill: #b32017; }
  50% {
    fill: #8a2529; }
  100% {
    fill: #b32017; } }
.mob {
  display: none; }
  @media (max-width: 825px) {
    .mob {
      display: block; } }

.anim {
  animation: color-change 0.5s 5; }

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

body {
  font-size: 16px;
  font-family: 'Proxima', serif;
  font-weight: 100;
  color: #597B7C;
  min-height: 100vh;
  display: flex; }

#contentContainer {
  margin: auto; }
  @media (max-width: 825px) {
    #contentContainer {
      max-width: 100%; } }
  #contentContainer #header {
    max-width: 1200px;
    width: 96vw;
    margin: 40px auto 4% 15px;
    display: grid;
    grid-template-columns: auto 120px;
    grid-auto-rows: auto; }
    @media (max-width: 825px) {
      #contentContainer #header {
        display: block;
        width: 90%; } }
  #contentContainer #project-title {
    grid-column: 1/2;
    grid-row: 1/2; }
  #contentContainer h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 1.4;
    width: 90%;
    grid-column: 1/2;
    max-width: 1200px; }
  #contentContainer #lang-button {
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer; }
    @media (max-width: 825px) {
      #contentContainer #lang-button {
        margin-bottom: 20px;
        grid-column: 1/2;
        grid-row: 1/2; } }
  #contentContainer #lang-button a {
    text-decoration: none;
    color: #597B7C;
    font-weight: 800;
    width: 40px;
    display: block;
    height: 40px;
    border: 2px solid #597B7C;
    border-radius: 50%;
    text-align: center;
    margin: auto; }
    @media (max-width: 825px) {
      #contentContainer #lang-button a {
        margin: 0;
        text-align: left; } }
  #contentContainer .title {
    background-color: rgba(89, 123, 124, 0.15);
    fill: #597B7C;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex: 1; }
  #contentContainer p {
    font-size: 14px;
    font-weight: 100; }
  #contentContainer p.hint {
    max-width: 1200px;
    width: 90vw;
    text-align: right;
    margin: auto auto 15px 0; }
    @media (max-width: 800px) {
      #contentContainer p.hint {
        margin: 30px 8% 5px auto;
        width: 60vw; } }
  #contentContainer p#footer {
    text-align: justify;
    line-height: 1.6;
    width: 92vw;
    max-width: 1150px;
    margin: 5px auto 5% 15px; }
    @media (max-width: 825px) {
      #contentContainer p#footer {
        width: 90%; } }

#chartContainer {
  margin: 0 0 0 15px;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  height: auto;
  white-space: normal; }
  @media (max-width: 1200px) {
    #chartContainer {
      justify-content: space-between; } }

span {
  color: lightgrey; }

.bar {
  opacity: 0.8;
  cursor: pointer; }

.bar:hover {
  opacity: 1; }

.svgContainer {
  margin-right: 20px;
  width: 250px;
  height: 250px; }

.childDIV {
  height: 210px;
  overflow: hidden; }

.childDIV_u {
  height: 0;
  overflow: hidden; }

g.tick {
  opacity: 1 !important; }

g.tick line {
  stroke: #acacac;
  stroke-width: 0.3px; }

g.tick text {
  fill: white; }

#swoo-ru, #swoo-en {
  display: none; }

.fullbars {
  pointer-events: none; }

.text.civil, .text.state, text.influence {
  display: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  label {
    font-size: 13px; } }

/*# sourceMappingURL=application.css.map */
