@font-face {
  font-family: Proxima;
  font-weight: normal;
  src: url("../fonts/ProximaNova-Regular.eot") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Regular.ttf") format("ttf");
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  src: url("../fonts/ProximaNova-Regular.svg") format("svg"); }
@font-face {
  font-family: Proxima;
  font-weight: bold;
  src: url("../fonts/ProximaNova-Semibold.eot") format("embedded-opentype");
  src: url("../fonts/ProximaNova-Semibold.ttf") format("ttf");
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
  src: url("../fonts/ProximaNova-Semibold.svg") format("svg"); }
@keyframes color-change {
  0% {
    fill: #b32017; }
  50% {
    fill: #8a2529; }
  100% {
    fill: #b32017; } }
.mob {
  display: none; }
  @media (max-width: 825px) {
    .mob {
      display: block; } }

.anim {
  animation: color-change 0.5s 5; }

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

body {
  max-width: 650px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Proxima', sans-serif;
  font-weight: 100;
  color: #597B7C;
  min-height: 100vh; }

#contentContainer {
  margin: auto; }
  @media (max-width: 825px) {
    #contentContainer {
      max-width: 100%; } }
  #contentContainer #header {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto 4% 0;
    grid-auto-rows: auto; }
    @media (max-width: 600px) {
      #contentContainer #header {
        display: block;
        width: 90%; } }
  #contentContainer #project-title {
    grid-column: 1/2;
    grid-row: 1/2; }
  #contentContainer h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 1.4;
    width: 100%;
    grid-column: 1/2;
    max-width: 1200px; }
  #contentContainer #selectContainer {
    margin: 20px 0;
    display: grid;
    grid-template-columns: auto 55px; }
  #contentContainer #lang-button {
    width: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
    text-align: left;
    display: flex;
    margin: auto 0 0 0; }
  #contentContainer #lang-button a {
    text-decoration: none;
    color: #597B7C;
    font-weight: 800;
    width: 40px;
    display: block;
    height: 40px;
    border: 2px solid #597B7C;
    border-radius: 50%;
    text-align: center;
    margin: auto; }
    @media (max-width: 825px) {
      #contentContainer #lang-button a {
        margin: 0; } }
  #contentContainer .title {
    background-color: rgba(89, 123, 124, 0.15);
    fill: #597B7C;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    flex: 1; }
  #contentContainer #hint {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 14px; }
  #contentContainer p {
    font-size: 14px;
    font-weight: 100; }
  #contentContainer p.hint {
    max-width: 1200px;
    width: 90vw;
    text-align: right;
    margin: auto auto 15px 0; }
    @media (max-width: 800px) {
      #contentContainer p.hint {
        margin: 30px 8% 5px auto;
        width: 60vw; } }
  #contentContainer p#footer {
    text-align: justify;
    line-height: 1.6;
    width: 100%;
    max-width: 1150px;
    margin: -5px auto 5% 0; }
    @media (max-width: 825px) {
      #contentContainer p#footer {
        width: 100%; } }

#chartContainer {
  margin: 0 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  height: auto;
  white-space: normal; }
  @media (max-width: 1200px) {
    #chartContainer {
      justify-content: space-between; } }

span {
  color: lightgrey; }

.bar {
  outline: none;
  opacity: 0.8;
  cursor: pointer; }

.bar:hover {
  opacity: 1; }

.svgContainer {
  width: 250px;
  height: 260px; }

.childDIV {
  height: 210px;
  overflow: hidden; }

.childDIV_u {
  height: 0;
  overflow: hidden; }

g.tick {
  opacity: 1 !important; }

g.tick line {
  stroke: #acacac;
  stroke-width: 0.3px; }

g.tick text {
  fill: white; }

#swoo-ru, #swoo-en {
  display: none; }

.fullbars {
  outline: none; }

.text.civil, .text.state, .text.influence {
  display: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  label {
    font-size: 13px; } }
.tippy-tooltip.tomato-theme {
  max-width: 250px;
  text-align: left; }

.tippy-tooltip.info-theme {
  max-width: 350px;
  text-align: left;
  line-height: 1.6;
  font-size: 13px; }

.hover-over {
  cursor: pointer; }

/*# sourceMappingURL=application.css.map */
